cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
     - .gradle/wrapper
     - .gradle/caches

stages:
  - build
  - deploy image
  - deploy service

.build_template: &build_ref
  stage: build
  image: gradle:5.1-jdk
  script:
    - gradle bootJar
  only:
    refs:
      - dev
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 week


build:
  <<: *build_ref
  only:
    refs:
      - dev
      - test



deploy_image_dev:
   image: docker
   stage: deploy image
   before_script:
     - export CI_PROJECT_PATH_LOWERCASE=`echo $CI_PROJECT_PATH | tr '[:upper:]' '[:lower:]'`
   script:
     - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
     - docker build -f Dockerfile.gitlab-ci -t $CI_REGISTRY/$CI_PROJECT_PATH_LOWERCASE:$CI_COMMIT_REF_NAME .
     - docker push $CI_REGISTRY/$CI_PROJECT_PATH_LOWERCASE:$CI_COMMIT_REF_NAME
   only:
     refs:
       - dev

deploy_image_test:
    image: docker
    stage: deploy image
    before_script:
      - export CI_PROJECT_PATH_LOWERCASE=`echo $CI_PROJECT_PATH | tr '[:upper:]' '[:lower:]'`
    script:
      - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
      - docker build -f Dockerfile.gitlab-ci -t $CI_REGISTRY/$CI_PROJECT_PATH_LOWERCASE:$CI_COMMIT_REF_NAME .
      - docker push $CI_REGISTRY/$CI_PROJECT_PATH_LOWERCASE:$CI_COMMIT_REF_NAME
    only:
      refs:
        - test


deploy_service_dev:
   image: docker
   stage: deploy service
   script:
     - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
     - docker -H 172.32.1.31 pull registry.jsql.it:443/poligon-jsql/jsql-api:dev
     - docker -H 172.32.1.31 service scale dev_jsql_api=0
     - docker -H 172.32.1.31 service update --force dev_jsql_api
     - docker -H 172.32.1.31 service scale dev_jsql_api=0
   only:
     refs:
       - dev


deploy_service_test:
  image: docker
  stage: deploy service
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker -H 172.32.1.31 pull registry.jsql.it:443/poligon-jsql/jsql-api:test
    - docker -H 172.32.1.31 service scale test_jsql_api=0
    - docker -H 172.32.1.31 service update --force test_jsql_api
    - docker -H 172.32.1.31 service scale test_jsql_api=0
  only:
    refs:
      - test
