

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body style="margin: 0 auto">
<div style="background-color: #191919;width: 600px; height: 860px;">
    <div>
        <br />
        <center><img src="http://static.softwarecartoon.com/templates/mail/logo.png" alt="logo" /></center>
        <hr width="90%" color="#f9a409" noshade="noshade"/></div>
    <div>
        <br />
        <center><img src="http://static.softwarecartoon.com/templates/mail/baner2.png" alt="logo" width="90%" height="190px" /></center>
    </div>
    <div style="width:90%,; margin-left:5%; margin-right:5%">
        <h1 style="color:#e1e1e5; font-family: Calibri,sans-serif; font-weight: 100; text-align: center; font-size: 1 rem">
            Hi, <span id="usr_nickname">[Name] [Surname]</span>!
        </h1>
        <p style="color:#e1e1e5; font-family: Calibri,sans-serif; font-weight: 100; text-align: left; font-size: 1 rem">Your account just has been activated!<br>Your username is <span id="usr_username">[Username]</span>.</p>
        <p style="color:#e1e1e5; font-family: Calibri,sans-serif; font-weight: 100; text-align: left; font-size: 1 rem">We are delighted you have joined us and so we would like to welcome You in the growing community of Stock games!</p>
        <p style="color:#e1e1e5; font-family: Calibri,sans-serif; font-weight: 100; text-align: left; font-size: 1 rem">We are hoping, that our simulation will help you to build your investment awareness, gain positive habits of a stock investor and obviously give you much fun!</p>
        <p style="color:#e1e1e5; font-family: Calibri,sans-serif; font-weight: 100; text-align: left; font-size: 1 rem">Good luck with the market,<br/>
            Stock games Team.</p>
    </div>
    <div>
        <br />
        <form id="usr_activatebtn" action="http://stockgames.softwarecartoon.com/">
            <center><button type="submit" style="color:#e1e1e5; background-color: transparent;border: 1.5px solid #f9a409; width:200px; height: 50px; width:220px;  font-family: Roboto,sans-serif; font-size:1rem;">Join the game! </button></center>
        </form>
        <br />
        <br />
        <hr width="90%" color="#f9a409" noshade="noshade"/></div>

    <div>
        <button type="button" style="color:#e1e1e5; background-color: transparent; border:none; position:relative; left:130px; margin-top:0.8rem" >Rules</button>
        <button type="button" style="color:#e1e1e5; background-color: transparent; border:none; position:relative; left:155px" >Privacy policy</button>
        <button type="button" style="color:#e1e1e5; background-color: transparent; border:none; position:relative; left:185px" >FAQ</button>
        <button type="button" style="color:#e1e1e5; background-color: transparent; border:none; position:relative; left:220px" >Contact</button>
        <br />
        <p style="display: flex; justify-content: center; color:#e1e1e5; font-family: Roboto,sans-serif; font-size:13px; margin-top:3rem">Copyright Stockgames Ltd</p>
    </div>
</div>
</body>

</html>